.App {
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.border {
  margin: 20px;
  padding-left: 300px;
  border: 1px solid beige;
  background-color: blanchedalmond;
}
button {
  margin: 25px auto;
  color: white;
  background: darkmagenta;
  padding: 10px;
  font-size: 18px;
  border: 1px solid brown;
}

h1 {
  font-size: 24px;
  color: darkgrey;
}

p {
  font-size: 18px;
  color: blue;
}
